@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  font-family: 'Fira Sans', sans-serif;
  margin:0;
  padding:0;
  background-color: theme('colors.white');
  color:theme('colors.blue');

}

.container{
  width: 90%;
  margin: 1rem auto;
}